* {
  margin: 0;
  padding: 0;
}
body {
  height: 800px;
  background: #eee;
  overflow: auto;
  display: flex;
}

.wrap {
  width: 600px;
  height: 1000px;
  background: #eee;
  overflow: auto;
  margin-left: 20px;
  /* border: 20px solid; */
}
.inner{
  height: 1300px;
  margin: 20px;
  border: 20px solid;
  padding: 20px;
  background: #fff;
}
.inner p{
  margin: 20px;
}

#showPlace{
  display: flex;
  align-items: center;
}